.detail h3{
    text-align:center;
    margin-bottom:10px;
    margin-top:30px;
    font-weight: 700;
    font-size: 30px;
}
.detail .author-info{
    color:#666;
    margin-bottom:6px;
    font-size:12px;
}
.detail .author-info .author{
    margin-right:10px;
}
.detail .content img{
    display: block;
}
.detail .operate{
    text-align:center;
    margin-top:20px;
}
.detail .operate .o-item{
    display: inline-block;
    color:#fff;
    text-align:center;
}
.detail .operate .o-item i{
    font-size: 100px;
}
.detail .operate .o-item span{
    display: block;
    font-size: 30px;
    color:mediumvioletred;
}
.detail .like{
    margin-right:30px;
}
.detail .collect{

}
.detail .diss-num{

}
.likeActive,.collectActive{
    color:#f78585;
}